<footer class="footer">
    <div class="container max-w-247.5 mr-auto ml-auto min-w-3xs p-4">
        <div class="footer-content mt-25 border-t border-[#82E84C]">
            <p class="text-center pt-5 text-sm">Made With Love By <a href="#" id="author">Abdallah MIRI</a> &copy; {{
                site.time
                | date: "%Y" }}</p>
        </div>
    </div>
</footer>
<!-- <script src="/assets/js/swiper-bundle.js"></script> -->
<!-- <script src="/assets/js/reveal.js"></script> -->
<!-- <script type="module" src="/assets/swiper/swiper-bundle.mjs"></script> -->
<!-- <script src="/assets/js/splide.min.js"></script> -->
<!-- <script>hljs.highlightAll();</script> -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="/assets/js/meain.js"></script>