<footer class="footer">
  <div class="container max-w-247.5 mr-auto ml-auto min-w-3xs p-4">
    <div class="footer-content mt-5 border-t border-[#0E2A4F]">
      <p class="text-center pt-5 text-sm" dir="rtl">
        صُنع بكل ❤ بواسطة
        <a href="#" id="author">عبد الله ميري</a>
        &copy; {{ site.time | date: "%Y" }}
      </p>
    </div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="/assets/js/meain.js"></script>
