<header class="header-main headr-menu-icon fixed top-0 left-1/2 -translate-x-1/2 w-full z-100">
  <div class="container max-w-247.5 mr-auto ml-auto min-w-3xs p-5 pt-0">
    <div
      class="inner-content relative w-full flex justify-between items-center bg-[#FAF9F9] h-17.5 border-[#F5EFEF] border-2 rounded-[40px] mt-5 pl-3 pr-3">
      <!-- ||| Logo Website ||| -->
      <a href="#logo" id="logo" class="min-w-25">
        <img src="/assets/image/abdallahmiri-logo.svg" alt="Logo Abdallah Miri Website" loading="lazy" class="w-full" />
      </a>

      <!-- ||| NavBAR ||| -->
      <nav class="main-nav">
        <ul class="menu-header list-none flex items-center justify-center">
          <li class="item-list">
            <a href="#"
              class="link-item-nav text-[#0E2A4F] no-underline ms-2 hover:text-[#2d7aec] flex items-center justify-center"><img
                src="/assets/image/Layer 1.svg" alt="icon menu link" loading="eager" class="me-1" /><span
                class="block">الأقسام</span></a>
          </li>
          <li class="item-list">
            <a href="#"
              class="link-item-nav text-[#0E2A4F] no-underline ms-2 hover:text-[#2d7aec] flex items-center justify-center"><img
                src="/assets/image/Layer 1 (1).svg" alt="icon menu link" loading="eager" class="me-1" /><span
                class="block">مسارات</span></a>
          </li>
          <li class="item-list">
            <a href="#"
              class="link-item-nav text-[#0E2A4F] no-underline ms-2 hover:text-[#2d7aec] flex items-center justify-center"><img
                src="/assets/image/Group 2.svg" alt="icon menu link" loading="eager" class="me-1" /><span
                class="block">مجالات اخرى</span></a>
          </li>

        </ul>
      </nav>

      <button id="btn-menu" class="absolute left-10 top-5 bg-black w-3 h-3"></button>
    </div>
  </div>
</header>