---
layout: default
---

<div class="container max-w-247.5 mr-auto ml-auto min-w-3xs p-4">
   <section class="hero text-center mt-56">
      <h1 class="title-meain text-[#0E2A4F] text-[3rem] leading-[1.2]">مسار تطوير الواجهة الامامية</h1>
      <h2 class="sup-title text-[#82E84C] text-[3rem] leading-[.9]">FRONT END DEVELOPER</h2>
      <p class="text-[#0E2A4F] text-[1.4rem] font-[font-wight:bold] leading-8 mt-8 mb-8">يمكنك البدأ الان والتعرف على تطوير
         الواجهة الامامية من خلال هذا المسار التعليمي الشامل الذي سيمكنك من تعلم كل ما تحتاجه لتصبح مطور واجهة
         امامية محترف</p>
      <a href="#"
         class="block p-1.75 pl-3.75 pr-3.75 rounded-[15px] text-[#0E2A4F] bg-[#82E84C] no-underline w-fit m-auto hover:bg-[#89d8f7] font-[font-wight:bold]">إبدا
         الان</a>
   </section>
</div>

<!-- POSTS -->
<section class=" posts-home mt-32">
   <div class="container max-w-247.5 mr-auto ml-auto min-w-3xs p-4">

      <h4 class="title-container-posts p-2.5 pl-2.5 pr-3.75 text-2xl w-fit mb-5"
         style="background: url('/assets/image/shape.svg') center center / cover no-repeat;">اخر المنشورات</h4>

      <div class="container-posts flex items-center justify-between flex-wrap">
         <div
            class="post-item mr-2 ml-2 shadow-md bg-[#FAF9F9] p-2.5 pl-3.25 pr-3.25 border-[#F5EFEF] border-2 rounded-[20px] max-w-62.5">
            <div class="flex items-center">
               <span class="icon-category me-1.25"><img src="/assets/image/category-icon.svg" alt="Category Icon"
                     loading="eager" width="18px" class="block"></span>
               <a href="#"
                  class="category-link text-[.9rem] tex-[font-wight:bold] text-sm bg-[#B0ED8F] p-0.75 pl-1.75 pr-1.75 rounded-[10px] no-underline">برمجة</a>
            </div>
            <h4 class="title-recent mt-2 text-[1rem] leading-4.5 font-bold">إليك 10 أدوات vs code لمساعدتك على تطوير
               المواقع</h4>
            <p class="desc-recent text-[.8rem] mt-2.5 leading-4.25">يتم استخدام نص لوريم ipum الملء من قبل مصممي
               الجرافيك والمبرمجين والطابعات بهدف شغل
               مساحات موقع ويب أو منتج إعلاني أو إنتاج تحريري لم يكن نصه النهائي جاهزًا بعد.</p>
            <div class="tags flex items-center mt-2">
               <span class="icon-tag"><img src="/assets/image/hashtag.svg" alt="tag icon" loading="lazy"
                     width="20"></span>
               <a href="#"
                  class="tag-link mr-1 text-[.9rem] tex-[font-wight:bold] text-sm bg-[#B0ED8F] p-0.75 pl-1.75 pr-1.75 rounded-[10px] no-underline">أدوات</a>
               <a href="#"
                  class="tag-link mr-1 text-[.9rem] tex-[font-wight:bold] text-sm bg-[#B0ED8F] p-0.75 pl-1.75 pr-1.75 rounded-[10px] no-underline">أدوات</a>

            </div>
         </div>
         <div
            class="post-item mr-2 ml-2 shadow-md bg-[#FAF9F9] p-2.5 pl-3.25 pr-3.25 border-[#F5EFEF] border-2 rounded-[20px] max-w-62.5">
            <div class="flex items-center">
               <span class="icon-category me-1.25"><img src="/assets/image/category-icon.svg" alt="Category Icon"
                     loading="eager" width="18px" class="block"></span>
               <a href="#"
                  class="category-link text-[.9rem] tex-[font-wight:bold] text-sm bg-[#B0ED8F] p-0.75 pl-1.75 pr-1.75 rounded-[10px] no-underline">برمجة</a>
            </div>
            <h4 class="title-recent mt-2 text-[1rem] leading-4.5 font-bold">إليك 10 أدوات vs code لمساعدتك على تطوير
               المواقع</h4>
            <p class="desc-recent text-[.8rem] mt-2.5 leading-4.25">يتم استخدام نص لوريم ipum الملء من قبل مصممي
               الجرافيك والمبرمجين والطابعات بهدف شغل
               مساحات موقع ويب أو منتج إعلاني أو إنتاج تحريري لم يكن نصه النهائي جاهزًا بعد.</p>
            <div class="tags flex items-center mt-2">
               <span class="icon-tag"><img src="/assets/image/hashtag.svg" alt="tag icon" loading="lazy"
                     width="20"></span>
               <a href="#"
                  class="tag-link mr-1 text-[.9rem] tex-[font-wight:bold] text-sm bg-[#B0ED8F] p-0.75 pl-1.75 pr-1.75 rounded-[10px] no-underline">أدوات</a>
               <a href="#"
                  class="tag-link mr-1 text-[.9rem] tex-[font-wight:bold] text-sm bg-[#B0ED8F] p-0.75 pl-1.75 pr-1.75 rounded-[10px] no-underline">أدوات</a>

            </div>
         </div>
         <div
            class="post-item mr-2 ml-2 shadow-md bg-[#FAF9F9] p-2.5 pl-3.25 pr-3.25 border-[#F5EFEF] border-2 rounded-[20px] max-w-62.5">
            <div class="flex items-center">
               <span class="icon-category me-1.25"><img src="/assets/image/category-icon.svg" alt="Category Icon"
                     loading="eager" width="18px" class="block"></span>
               <a href="#"
                  class="category-link text-[.9rem] tex-[font-wight:bold] text-sm bg-[#B0ED8F] p-0.75 pl-1.75 pr-1.75 rounded-[10px] no-underline">برمجة</a>
            </div>
            <h4 class="title-recent mt-2 text-[1rem] leading-4.5 font-bold">إليك 10 أدوات vs code لمساعدتك على تطوير
               المواقع</h4>
            <p class="desc-recent text-[.8rem] mt-2.5 leading-4.25">يتم استخدام نص لوريم ipum الملء من قبل مصممي
               الجرافيك والمبرمجين والطابعات بهدف شغل
               مساحات موقع ويب أو منتج إعلاني أو إنتاج تحريري لم يكن نصه النهائي جاهزًا بعد.</p>
            <div class="tags flex items-center mt-2">
               <span class="icon-tag"><img src="/assets/image/hashtag.svg" alt="tag icon" loading="lazy"
                     width="20"></span>
               <a href="#"
                  class="tag-link mr-1 text-[.9rem] tex-[font-wight:bold] text-sm bg-[#B0ED8F] p-0.75 pl-1.75 pr-1.75 rounded-[10px] no-underline">أدوات</a>
               <a href="#"
                  class="tag-link mr-1 text-[.9rem] tex-[font-wight:bold] text-sm bg-[#B0ED8F] p-0.75 pl-1.75 pr-1.75 rounded-[10px] no-underline">أدوات</a>

            </div>
         </div>
      </div>
   </div>
</section>

<!-- CATEGORY -->
<section class="category-home mt-25">
   <div class="container max-w-247.5 mr-auto ml-auto min-w-3xs p-4">
      <div
         class="inner-container w-fit flex flex-wrap items-center justify-around mr-auto ml-auto shadow-md bg-[#FAF9F9] p-2.5 pl-3.25 pr-3.25 border-[#F5EFEF] border-2 rounded-[20px]">
         <a href="css" class="cat-link ml-5 mr-5"><img src="/assets/image/css.svg" alt="category-icon" loading="lazy"
               width="80"></a>
         <a href="html" class="cat-link ml-5 mr-5"><img src="/assets/image/h-5 1.svg" alt="category-icon" loading="lazy"
               width="80"></a>
         <a href="git" class="cat-link ml-5 mr-5"><img src="/assets/image/git-svgrepo-com 1.svg" alt="category-icon"
               loading="lazy" width="80"></a>
         <a href="github" class="cat-link ml-5 mr-5"><img src="/assets/image/GitHub 1.svg" alt="category-icon" loading="lazy"
               width="80"></a>
         <a href="react" class="cat-link ml-5 mr-5"><img src="/assets/image/react.svg" alt="category-icon" loading="lazy"
               width="80"></a>
         <a href="nodejs" class="cat-link ml-5 mr-5"><img src="/assets/image/nodejs.svg" alt="category-icon" loading="lazy"
               width="80"></a>
      </div>
   </div>
</section>